<a href="/">
  <img src="../images/name.png" width="600 " height="200" alt=""/>
</a>
<nav>
  <a href="/">Home</a> | <a href="/about">About Me</a> | <a href="/projects">Projects</a> | <a href="/services">Services</a> | <a href="/contact">Contact Me</a>
</nav>
