<!--
Filename: contact.ejs
Author: Cindy Orbegoso
Website Name: Cindy O. Portfolio
File Description: HTML for Contact page. This page displays a form where visitors can send me a message.
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <h1><%= title %></h1>
    <!--Contact form with fields for name, email, phone number, and message-->
    <form id="contact_form">
      <div>
          <label for="sender_name">Name</label>
          <input type="text" name="sender_name" id="sender_name" required maxlength="25" />
      </div>
      <div>
          <label for="sender_email">E-mail</label>
          <input type="email" name="sender_email" id="sender_email" required />
      </div>
      <div>
          <label for="sender_phone">Phone Number</label>
          <input type="tel" name="sender_phone" id="sender_phone" />
      </div>
      <div>
          <textarea name="sender_message" id="sender_message" required rows="4" cols="50">Enter your message here.</textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
  <% include ./partials/footer.ejs %>
</html>
