<!--
Filename: services.ejs
Author: Cindy Orbegoso
Website Name: Cindy O. Portfolio
File Description: HTML for Services page. It lists services that I offer.
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <h1><%= title %></h1>
    <!--List of services I offer-->
    <p>
      <ul>
        <li>Game Development</li>
        <li>Mobile Development(Android)</li>
        <li>Rapid Application Development</li>
      </ul>
    </p>
  </body>
  <% include ./partials/footer.ejs %>
</html>
