html {
  background-color: #f1f4e3;
}

body {
  padding: 50px;
  font: 14px "Trebuchet MS", Helvetica, Arial, sans-serif;
}

a {
  color: #666961;
  text-decoration: none;
}

a:hover {
  color: #b3b6aa;
}
