html {
  text-align: center;
}

body {
  background-color: #f1f4e3;
  padding: 50px;
  font: 14px "Trebuchet MS", Helvetica, Arial, sans-serif;
}

a {
  color: #666961;
  text-decoration: none;
}

a:hover {
  color: #b3b6aa;
}

a:active {
  color: #68a771;
}

footer {
  background-color: 666961;
  color: #b3b6aa;
}
