html {
  text-align: center;
}

header, body {
  background-color: #f1f4e3;
}

header nav {
  padding: 10px;
}

body {
  padding: 50px;
  font: 14px "Trebuchet MS", Helvetica, Arial, sans-serif;
}

a {
  color: #666961;
  text-decoration: none;
}

a:hover {
  color: #b3b6aa;
}

a:active {
  color: #68a771;
}

footer nav a{
  color: #68a771;
}

footer nav a:hover{
  color: #b3b6aa;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #666961;
  color: #b3b6aa;
}
